:root {
  --background-dark: #121212;
  --text-dark: #ffffff;
  --primary-color: #29abcb;
  --secondary-color: #313131;
  --navbar-color: #1c1c1c;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-dark);
  color: var(--text-dark);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: var(--navbar-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  border-radius: 10px;
  transition: transform 0.5s, box-shadow 0.5s;
}

header:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

#typing-text {
  font-size: 2.5rem;
  color: var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  display: inline-block;
}

.typing-animation {
  animation: typing 4s steps(20, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--primary-color); }
}

nav {
  background-color: var(--navbar-color);
  padding: 1rem 0;
  margin-top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: var(--text-dark);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s, transform 0.5s;
  border-radius: 5px;
  background-color: var(--background-dark);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
  background-color: var(--primary-color);
  color: var(--background-dark);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

section {
  padding: 2rem 1rem;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--navbar-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  border-radius: 10px;
  transition: transform 0.5s, box-shadow 0.5s;
}

section:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--primary-color);
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.experience-item, .project-item {
  margin-bottom: 1.5rem;
  padding: 10px;
  border: 1px solid #212121;
  border-radius: 5px;
  background-color: #1a1a1a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s, box-shadow 0.5s;
  text-align: left;
}

.experience-item:hover, .project-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.experience-item h3, .project-item h3 {
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.experience-item h3:before, .project-item h3:before {
  content: '\25B6'; /* Triangle icon */
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.experience-item h3.expanded:before, .project-item h3.expanded:before {
  transform: rotate(90deg); /* Rotate the triangle icon */
}

.experience-details, .project-details {
  display: none;
  margin-top: 10px;
}

.date {
  color: #adadad;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 16px;
  color: #fff;
  background-color: #616161;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.download-button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

#tech-stack {
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

#tech-stack h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#tech-stack ul {
  list-style-type: none;
  padding: 0;
}

#tech-stack ul li {
  margin: 10px 0;
}

#tech-stack ul li strong {
  color: #333;
}

/* Responsive design */
@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    justify-content: space-around;
  }

  .about-text {
    max-width: 500px;
  }

  .experience-item, .project-item {
    margin-bottom: 30px;
  }
}

#resume {
  padding: 2rem 1rem;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--navbar-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  border-radius: 10px;
  transition: transform 0.5s, box-shadow 0.5s;
}

#resume:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.pdf-viewer {
  margin-top: 1rem;
  border: 1px solid #212121;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.show-resume-button {
  display: block;
  width: auto;
  margin: 10px auto; /* Adjusted margin for better spacing */
  padding: 8px 16px; /* Smaller padding */
  font-size: 14px; /* Smaller font size */
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.show-resume-button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.download-button i {
  margin-right: 8px; /* Space between the icon and the text */
}
